/* slide */
#slide{
    width: 100%;

    .wrap{overflow: hidden;}
    article{
        float:left;
        width:25%;
        height:600px;
        position:relative;
        cursor: pointer;
        overflow:hidden;

        &::after {
            content:''; display:block; width:100%; height:100%; background:#5783b3; opacity:0;
            position:absolute; top:0px; left:0px; 
            transition:1s;
        }

        &:hover::after {opacity:0.7;}

        h2{
            font-size : 20px;
            line-height: 1.4;
            letter-spacing: 2px;
            position:absolute;
            top:40px;
            left:40px;
            text-transform: uppercase;
            color:#f7f7f7;
            z-index:2;
        }
        span{
            font-size : 11px;
            line-height: 1.4;
            position:absolute;
            bottom:80px;
            left:-15px;
            text-transform: uppercase;
            letter-spacing: 5px;
            color:#f7f7f7;
            transform: rotate(-90deg);
            z-index:2;
        }
    }
    >h1{
        display:none;
        padding-bottom:20px; 
        margin-bottom:40px;
        font-size : 30px;
        line-height: 1.4;
        font-weight:bold;
        color: #b3b3b3; 
        text-align:center;
        position:relative;

        span{color: #547191;}
    }
}

/* ------tablet-------- */
@media screen and (max-width:$tablet){  

    /* slide */
    #news .inner .wrap .contents{width:40%;}
    
}

/* ------mobile-------- */
@media screen and (max-width:$mobile){   

     /* slide */
     #slide{
         >h1{margin-bottom: 0;}
        article{
            width: 100%;
            height: 150px;

            h2{font-size:18px;}
            span{display: none;}
        }
     }
    
}
