@charset 'utf-8';

$tablet : 1179px;
$mobile : 539px;

//reset
body{font-family: 'Prompt', sans-serif;}
* {margin:0px; padding:0px;}
ul,ol,li {list-style:none;}
a {text-decoration:none; color:#555;}
img, fieldset{border: 0;}
table,th,td{border-collapse: collapse;}
input,select,textarea,form,img,label{vertical-align: middle;box-sizing: border-box;}
textarea{resize: none;}
.hidden{position: absolute; top: -99999px; opacity: 0;}/*화면에 보이기는 싫은데 지우면 안될 때*/
.button {
    cursor: pointer;
    border: none;
}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');


.wrap::after {content:''; display:block; clear:both;}

.prev {
    display:inline-block; text-indent:-9999px; transition:0.5s;
    
    &::before {
        content:''; display:block; width:100%; height:1px; background:#111; position:absolute; top:50%; left:0%;
        transform-origin:left center; transform:rotate(-40deg);
    }
    &::after {
        content:''; display:block; width:100%; height:1px; background:#111; position:absolute; top:50%; left:0%;
        transform-origin:left center; transform:rotate(40deg);
    }
}

.next {
    display:inline-block; text-indent:-9999px; transition:0.5s;
    
    &::before {
        content:''; display:block; width:100%; height:1px; background:#111; position:absolute; top:50%; left:0%;
        transform-origin:right center; transform:rotate(-40deg);
    }
    &::after {
        content:''; display:block; width:100%; height:1px; background:#111; position:absolute; top:50%; left:0%;
        transform-origin:right center; transform:rotate(40deg);
    }
}


// main
@import 'main/header/header';
@import 'main/visual/visual';
@import 'main/news/news';
@import 'main/slide/slide';
@import 'main/detail/detail';
@import 'main/notice/notice';
@import 'main/banner/banner';
@import 'main/brand/brand';
@import 'main/footer/footer';

// sub
@import "sub/header/header";
@import "sub/footer/footer";
@import 'sub/community/community';
@import 'sub/location/location';
@import 'sub/gallery/gallery';
@import 'sub/department/department';
@import 'sub/member/member';

//sub common layout
#sub_visual {
    position: relative;
    height: 300px;
    top: 80px;
    .inner{
        width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 0;
        h1{
            padding-top: 96px;
            font-family: 'Prompt', sans-serif;
            font-size: 48px;
            letter-spacing: 13px;
        }
        .border{
            display: inline-block;
            width: 10%;
            height: 3px;
            background: #000;
            margin-top: 30px;
        }
    }
    .box{
        width:75%; height:300px; background:#f2f2f2;
        position: absolute;
        right: 0; top: 0;
        z-index: -1;
    }
}
#content {
    width:100%; padding:150px 0px; box-sizing:border-box;

    .inner {
        width:1180px; min-height:300px; margin:0px auto;

        h1 {
           margin-bottom:50px;
        }
    }
}

/* ------tablet-------- */
@media screen and (max-width:$tablet){ 
    #sub_visual{
        .inner{width:100%;}
    }
    
   #content .inner{
       width: 100%;
       padding: 0 20px;
       box-sizing: border-box;
    }

}